* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
}

a:hover {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  animation-name: link;
}

li {
  list-style: none;
  margin-right: 3px;
  display: inline-block;
}

nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-image: url(../imagenes/granos2.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  animation-duration: 5s;
  animation-name: aparecer;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#teesperamos {
  font-weight: bolder;
}

.cuerpoindex {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header header" "section section section" "section2 section2 section2" "section3 section3 section3" "section4 section4 section4" "section5 section5 section5" "footer footer footer";
}
.cuerpoindex .cabeza1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-image: url(../imagenes/portada.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.cuerpoindex .sobrenosotros {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: section;
  background: wheat;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}
.cuerpoindex .sobrenosotros p {
  font-size: 14px;
  border-left: solid 5px gray;
  padding-left: 10px;
  text-align: justify;
}
.cuerpoindex .sobrenosotros h2 {
  font-size: 22px;
  padding-right: 10px;
}
.cuerpoindex .imagenlocal {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: section2;
  background: url(../imagenes/local.jpg);
  min-height: 100vh;
  background-position: center bottom;
  background-size: cover;
}
.cuerpoindex .imagenlocal h2 {
  padding: 20px;
  text-align: center;
  font-size: 22px;
  color: wheat;
  background-color: #9e2a2b;
  font-style: italic;
  font-weight: bold;
}
.cuerpoindex .video {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: section3;
  background-color: #99582a;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  color: wheat;
}
.cuerpoindex .video iframe {
  border-radius: 10%;
}
.cuerpoindex .video .video__texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cuerpoindex .video .video__texto--2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cuerpoindex .video .video__texto--2 h3 {
  padding: 5px;
  font-size: 22px;
  padding-right: 20px;
}
.cuerpoindex .video .video__texto--2 h3 p {
  text-align: justify;
  font-size: 14px;
}
.cuerpoindex .video .video__texto--2 #defamilia {
  font-weight: bolder;
  color: black;
}
@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.cuerpoindex .whatsapp {
  position: fixed;
  right: 10px;
  bottom: 10px;
  animation-name: rotar;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.cuerpoindex .sucursales {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: section4;
  background: wheat;
  padding: 30px;
  color: grey;
}
.cuerpoindex .sucursales h2 {
  font-size: 22px;
  padding: 10px;
  text-align: left;
  color: #bc6c25;
  font-weight: bold;
}
.cuerpoindex .sucursales .sucursales__1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}
.cuerpoindex .sucursales img {
  padding: 10px;
  border-radius: 15%;
}
.cuerpoindex .sucursales h3 {
  font-size: 18px;
  color: #d62828;
  text-align: center;
  font-weight: bold;
}
.cuerpoindex .sucursales p {
  font-size: 14px;
  text-align: center;
}
.cuerpoindex .protocolo {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background: #b7b7a4;
  padding: 25px;
  grid-area: section5;
}
.cuerpoindex .protocolo h2 {
  font-size: 22px;
  color: #9e2a2b;
}
.cuerpoindex .protocolo .protocolo__2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding: 15px 0;
}
.cuerpoindex .protocolo .protocolo__2 .protocolo__2--destacado {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0;
}
.cuerpoindex .protocolo .protocolo__2 .protocolo__2--destacado img {
  border-radius: 50%;
  padding: 5px;
}
.cuerpoindex .protocolo .protocolo__2 .protocolo__2--destacado p {
  font-size: 14px;
  color: #9e2a2b;
  font-weight: bold;
}
.cuerpoindex footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.cuerpomenu {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 30%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header header" "section section section" "sectionn2 sectionn2 sectionn2" "footer footer footer";
}
.cuerpomenu .cabeza2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background-image: url(../imagenes/menu.jpg);
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  grid-area: header;
}
.cuerpomenu .menu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  padding: 25px;
  grid-area: section;
  background: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cuerpomenu .menu h2 {
  font-size: 22px;
}
.cuerpomenu .menu li {
  font-size: 14px;
}
@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.cuerpomenu .whatsapp {
  position: fixed;
  right: 10px;
  bottom: 10px;
  animation-name: rotar;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.cuerpomenu .carrusel {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  text-align: center;
  grid-area: sectionn2;
  background: #9e2a2b;
  padding: 35px;
}
.cuerpomenu .carrusel .carrusel__h2 {
  display: inline-block;
  padding: 15px;
  border: groove wheat 5px;
  border-radius: 10%;
  margin-bottom: 30px;
  color: wheat;
}
.cuerpomenu .carrusel .carousel-inner {
  border: groove 10px wheat;
  border-radius: 10%;
}
.cuerpomenu footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.cabeza3 {
  background-image: url(../imagenes/trabajaconnosotros.jpg);
  background-size: cover;
  background-position: top;
  min-height: 100vh;
}

.trabajaconnosotros {
  background-color: wheat;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.trabajaconnosotros h2 {
  text-align: center;
  font-size: 22px;
}
.trabajaconnosotros p {
  text-align: justify;
  font-size: 14px;
  padding: 20px;
}
.trabajaconnosotros form {
  width: 50%;
  margin: auto;
  padding: 20px;
  text-align: center;
  align-content: center;
  border: ridge 10px grey;
  border-radius: 5%;
}
.trabajaconnosotros form div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.trabajaconnosotros form label {
  padding: 5px;
}

.nuestrapropuesta {
  background-color: #b7b7a4;
  padding: 25px;
}
.nuestrapropuesta .nuestrapropuesta__mision {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.nuestrapropuesta .nuestrapropuesta__mision h2 {
  border-bottom: double wheat 5px;
  padding-bottom: 10px;
  font-size: 22px;
}
.nuestrapropuesta .nuestrapropuesta__mision p {
  padding-left: 10px;
  font-size: 14px;
  text-align: justify;
}
.nuestrapropuesta .nuestrapropuesta__ofrecer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.nuestrapropuesta .nuestrapropuesta__ofrecer h2 {
  font-size: 22px;
  border-bottom: double wheat 10px;
  padding-bottom: 10px;
}
.nuestrapropuesta .nuestrapropuesta__ofrecer li {
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 5px;
}
.nuestrapropuesta .nuestrapropuesta__imagenesempleados {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.nuestrapropuesta .nuestrapropuesta__imagenesempleados h2 {
  font-size: 22px;
  border-right: double wheat 10px;
  padding-right: 10px;
}

@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.whatsapp {
  position: fixed;
  right: 10px;
  bottom: 10px;
  animation-name: rotar;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.cuerpoescuela {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 30%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "cabeza cabeza cabeza" "section1 section1 section1" "section2 section2 section2" "footer footer footer";
}
.cuerpoescuela .cabeza4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background-image: url(../imagenes/escuela.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  grid-area: cabeza;
}
.cuerpoescuela .fondoteensenamos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background: #9e2a2b;
  grid-area: section1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  padding: 25px;
}
.cuerpoescuela .fondoteensenamos h2 {
  font-size: 22px;
  color: wheat;
}
.cuerpoescuela .fondoteensenamos p {
  font-size: 14px;
  color: wheat;
  text-align: justify;
}
.cuerpoescuela .fondoteensenamos form {
  width: 50%;
  margin: auto;
  border: double wheat 5px;
  padding: 5px;
  color: wheat;
}
.cuerpoescuela .fondoteensenamos form div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.cuerpoescuela .fondoteensenamos form label {
  padding: 5px;
}
.cuerpoescuela .infocurso {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: section2;
  background-color: #eddcd2;
  padding: 25px;
}
.cuerpoescuela .infocurso .infocurso__texto1 {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cuerpoescuela .infocurso .infocurso__texto1 h2 {
  font-size: 22px;
}
.cuerpoescuela .infocurso .infocurso__texto2 {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
.cuerpoescuela .infocurso .infocurso__texto2 h3 {
  border-right: grey dotted;
  padding-right: 10px;
  font-size: 22px;
}
.cuerpoescuela .infocurso .infocurso__texto2 p {
  padding-left: 10px;
  font-size: 14px;
}
.cuerpoescuela .infocurso .infocurso__texto3 {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
}
.cuerpoescuela .infocurso .infocurso__texto3 h3 {
  font-size: 22px;
}
.cuerpoescuela .infocurso .infocurso__texto3 p {
  border-left: grey dotted;
  font-size: 14px;
  padding-left: 15px;
}
.cuerpoescuela .infocurso .infocurso__texto4 {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cuerpoescuela .infocurso .infocurso__texto4 h2 {
  font-size: 22px;
}
.cuerpoescuela .infocurso .infocurso__texto5 {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cuerpoescuela .infocurso .infocurso__texto5 td {
  border: solid grey 5px;
  padding: 10px;
  color: black;
  font-style: oblique;
  text-align: center;
  font-size: 14px;
}
@keyframes inscribirse {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.cuerpoescuela .infocurso .infocurso__texto6 {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation-name: inscribirse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.cuerpoescuela .infocurso .infocurso__texto6 h1 {
  font-size: 14px;
  border: groove gray 10px;
  border-radius: 40px;
  padding: 20px;
  background: #9e2a2b;
}
.cuerpoescuela .infocurso .infocurso__texto6 h1 a {
  color: wheat;
}
@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.cuerpoescuela .whatsapp {
  position: fixed;
  right: 10px;
  bottom: 10px;
  animation-name: rotar;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.cuerpoescuela footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.cabeza5 {
  background-image: url(../imagenes/productos.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.producto {
  padding: 20px;
  background: #9e2a2b;
}
.producto h2 {
  text-align: center;
  font-size: 22px;
  padding: 10px;
  color: wheat;
  font-weight: bold;
}

.productos {
  background: wheat;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.productos a {
  color: black;
}
.productos .productos__imagenes {
  text-align: center;
  margin: 10px;
}
.productos .productos__imagenes p {
  font-size: 14px;
  font-weight: bold;
}
.productos .productos__imagenes img {
  border: double 5px grey;
  border-radius: 10%;
}
.productos .productos__imagenes #imagen {
  border: none;
}
.productos .productos__imagenes h3 {
  background: wheat;
  display: inline-block;
  text-align: center;
  border: solid 5px grey;
  border-radius: 10%;
  font-size: 20px;
  padding: 5px;
}
.productos .productos__imagenes h3 a:hover {
  color: grey;
}

@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.whatsapp {
  position: fixed;
  right: 10px;
  bottom: 10px;
  animation-name: rotar;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

footer {
  background-color: #ffe6a7;
  padding: 10px;
}
footer .foter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}
footer .foter .foter__textos {
  text-align: center;
  font-size: 22px;
  padding: 10px;
}
footer p {
  text-align: center;
  font-size: 14px;
  color: #432818;
  font-weight: bold;
}
footer .foter2 iframe {
  width: 100%;
}
footer .foter3 .foter3__redes img {
  display: inline;
  border-radius: 50%;
  margin-left: 200px;
  margin-right: 200px;
}

.modal {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  animation: modal 2s 3s forwards;
  visibility: hidden;
  opacity: 0;
}

.contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin: auto;
  width: 50%;
  height: 70%;
  background: #ffe6a7;
  text-align: center;
}
.contenido .contenido__h2 {
  font-size: 22px;
  font-weight: bold;
  color: #6f1d1b;
}
.contenido .contenido__p {
  font-size: 14px;
  color: #6f1d1b;
}
.contenido .contenido__p--destacado {
  font-weight: bolder;
  font-size: 14px;
  color: #6f1d1b;
}
.contenido .contenido__p--diferente {
  font-size: 12px;
  padding-top: 20px;
  color: #6f1d1b;
  font-style: italic;
}

#pedionline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}

#pedionline p {
  padding-left: 15px;
}

@keyframes hacetupedido {
  from {
    transform: scale(0.8);
  }
  to {
    transfrom: scale(1);
  }
}
#pedionline1 a {
  display: inline-block;
  border: solid black 5px;
  margin-top: 30px;
  padding: 15px;
  background-color: #6f1d1b;
  color: wheat;
  animation-name: hacetupedido;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: 14px;
}

#cerrar {
  display: none;
}

#cerrar + label {
  position: fixed;
  color: #fff;
  font-size: 30px;
  z-index: 7;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  right: 15px;
  top: 0px;
  cursor: pointer;
  animation: modal 2s 3s forwards;
  visibility: hidden;
  opacity: 0;
}

#cerrar:checked + label, #cerrar:checked ~ .modal {
  display: none;
}

@keyframes modal {
  100% {
    visibility: visible;
    opacity: 2;
  }
}
@media (min-width: 320px) and (max-width: 568px) {
  nav a {
    font-size: 7px;
  }
  nav img {
    width: 60px;
    height: 60px;
  }

  .cuerpoindex .sobrenosotros p {
    text-align: left;
  }

  .trabajaconnosotros p {
    text-align: center;
  }

  .nuestrapropuesta .nuestrapropuesta__mision p {
    text-align: center;
  }

  .cuerpoescuela .infocurso .infocurso__texto6 h1 a {
    font-size: 12px;
  }

  .foter img {
    width: 200px;
  }
}
@media (max-width: 768px) {
  nav a {
    font-size: 9px;
  }

  .modal {
    display: none;
  }

  #cerrar + label {
    display: none;
  }

  .cuerpoindex .cabeza1 {
    background-position: right;
  }

  .cuerpoindex .sobrenosotros {
    flex-direction: column;
  }

  .cuerpoindex .video {
    flex-direction: column;
  }
  .cuerpoindex .video iframe {
    width: 300px;
    height: 100;
  }

  .cuerpoindex .video .video__texto {
    padding-top: 20px;
  }

  footer .foter {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  footer .foter3 .foter3__redes img {
    margin-right: 30px;
    margin-left: 30px;
  }

  #imagenbotoncorredor {
    width: 40px;
    height: 40px;
  }

  .cabeza1 {
    background-position: left;
  }

  .cabeza3 {
    background-position: top;
  }

  .trabajaconnosotros form {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 10px;
  }

  .nuestrapropuesta .nuestrapropuesta__mision {
    flex-direction: column;
    text-align: center;
  }
  .nuestrapropuesta .nuestrapropuesta__mision h2 {
    border-right: none;
    border-bottom: double wheat 5px;
  }

  .nuestrapropuesta .nuestrapropuesta__ofrecer {
    flex-direction: column;
    text-align: center;
  }
  .nuestrapropuesta .nuestrapropuesta__ofrecer h2 {
    border-bottom: double wheat 5px;
  }
  .nuestrapropuesta .nuestrapropuesta__ofrecer li {
    border-right: none;
  }

  .nuestrapropuesta .nuestrapropuesta__imagenesempleados {
    flex-direction: column;
    align-content: center;
  }
  .nuestrapropuesta .nuestrapropuesta__imagenesempleados h2 {
    border-bottom: double wheat 5px;
    border-right: none;
  }

  .cuerpoescuela .cabeza4 {
    background-position: right;
  }

  .cuerpoescuela .fondoteensenamos form {
    width: 100%;
    margin: auto;
  }

  .cuerpoescuela .fondoteensenamos p {
    text-align: justify;
  }

  .cuerpoescuela .infocurso .infocurso__texto1 {
    text-align: center;
  }
  .cuerpoescuela .infocurso .infocurso__texto2 {
    flex-direction: column;
    text-align: center;
  }
  .cuerpoescuela .infocurso .infocurso__texto2 h3 {
    border-right: none;
    border-bottom: grey dotted;
  }
  .cuerpoescuela .infocurso .infocurso__texto3 {
    text-align: center;
    flex-direction: column;
  }
  .cuerpoescuela .infocurso .infocurso__texto3 h3 {
    border-right: none;
    border-bottom: grey dotted;
  }
  .cuerpoescuela .infocurso .infocurso__texto3 p {
    border-left: none;
  }
  .cuerpoescuela .infocurso .infocurso__texto4 {
    flex-direction: column;
    text-align: center;
  }
  .cuerpoescuela .infocurso .infocurso__texto5 {
    flex-direction: column;
  }
  .cuerpoescuela .infocurso .infocurso__texto5 td {
    padding: 0;
    font-size: 11px;
  }
  .cuerpoescuela .infocurso .infocurso__texto6 {
    flex-direction: column;
  }

  .productos {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .modal {
    display: none;
  }

  .cuerpoindex .cabeza1 {
    background-position: left;
  }

  .cuerpoindex .video {
    flex-direction: row;
  }
  .cuerpoindex .video p {
    padding: 10px 10px;
  }

  .cuerpoindex .protocolo .protocolo__2 {
    flex-wrap: none;
    justify-content: space-between;
  }

  .productos {
    flex-direction: row;
    flex-wrap: wrap;
  }

  footer .foter {
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

  footer .foter3 .foter3__redes img {
    margin-right: 100px;
    margin-left: 100px;
  }

  nav a {
    font-size: 20px;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .cuerpoindex .cabeza1 {
    background-position: left;
  }

  .cuerpoindex .video {
    padding: 50px;
  }

  .cuerpoindex .protocolo .protocolo__2 {
    justify-content: space-evenly;
  }

  footer .foter3 .foter3__redes img {
    margin-right: 150px;
    margin-left: 150px;
  }
}