* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif; 
}
a:hover {
  text-decoration: none;
  color: wheat; 
  }
a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    animation-name: link;
  }
li {
    list-style: none;
    margin-right: 3px;
    display: inline-block;
  }
nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation-duration: 5s;
  animation-name: aparecer;
  li {
    border: solid 2px;
    background: wheat;
    border-radius: 30%;
    padding: 5px;
  }
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


