* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif; 
}
a:hover {
  text-decoration: none;
  color: black;
  }
a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    animation-name: link;
  }
li {
    list-style: none;
    margin-right: 3px;
    display: inline-block;
  }
nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-image: url(../imagenes/granos2.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  animation-duration: 5s;
  animation-name: aparecer;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #teesperamos {
    font-weight: bolder;
  
  }
  


