.cuerpoescuela {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 30%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "cabeza cabeza cabeza"
    "section1 section1 section1"
    "section2 section2 section2"
    "footer footer footer";
.cabeza4 {
    background-image: url(../imagenes/escuela.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;   
    grid-area: cabeza;
    }
    .fondoteensenamos {
        background: #9e2a2b;
        grid-area: section1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        padding: 25px;
        h2 {
        font-size: $tamañotitulo;
        color: wheat;
        }
        p {
            font-size: $tamañoparrafo;
            color: wheat;
        }
        form {
            width: 50%;
            margin: auto;
            border: double wheat 5px;
            padding: 5px;
            color: wheat;
            label {
                padding: 5px;
            }
        }
    }
    .infocurso {
       grid-area: section2;
       background-color: #eddcd2;
       padding: 25px;
    .infocurso__texto1 {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h2 {
            font-size: $tamañotitulo;
        }
     
    }
    .infocurso__texto2 {
        padding-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        justify-content: center;
        align-items: center;
        h3 {
            border-right: grey dotted;
            padding-right: 10px;
            font-size: $tamañotitulo;
        }
        p {
            padding-left: 10px;
            font-size: $tamañoparrafo;
        }
    
    }
    .infocurso__texto3 {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        margin: auto;
        h3 {
            font-size: $tamañotitulo;
        }
        p {
            border-left: grey dotted;
            font-size: $tamañoparrafo;
            padding-left: 15px;
        }
        
    }
    .infocurso__texto4 {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h2 {
            font-size: $tamañotitulo;
        }
        
    }
    .infocurso__texto5 {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        td {
        border: solid grey 5px;
        padding: 10px;
        color: black;
        font-style: oblique;
        text-align: center;
        font-size: $tamañoparrafo;
        }
    }
    @keyframes inscribirse {
        from {
            transform: scale(0.5);
        }
    
        to {
            transform: scale(1);
        }
    }
    .infocurso__texto6 {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation-name: inscribirse;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        h1 {
        font-size: $tamañoparrafo;
        border: groove gray 10px;
        border-radius: 40px;
        padding: 20px;
        background: #9e2a2b;
        a {
            color:wheat;
        }
    }
    }
}
@keyframes rotar{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.whatsapp  {
    position: fixed;
    right: 10px;
    bottom: 10px;
    animation-name: rotar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
footer {
    grid-area: footer;
}
}
