@media (max-width: 768px) {
    .modal {
      display: none;
    }
    #cerrar + label {
      display: none;
    }
    .whatsapp {
      display: none;
    }
    nav {
      a {
        font-size: $tamañoparrafo;
        padding-top: 5px;
      }
    }
    .cuerpoindex .sobrenosotros {
      flex-direction: column;
    }
    .cuerpoindex .video {
      flex-direction: column;
      iframe {
        width: 350px;
        height: 100;
      }
    }
  }